WebRTC references

### Mentioned as normative reference but never referenced
RFC 5245
RFC 8839
RFC 8489
RFC 8656
RFC 6749
RFC 7064
RFC 7065
OpenID Connect core
ONVIF Security service specification

### Mentioned as normative reference but only informative referenced
W3C WebRTC specification
RFC 6455
RFC 8829
RFC 8866

### W3C reference
Sometimes referenced as W3C standard sometimes W3C specification
Should probably be dated and not point to latest version

### Don't put references inside brackets (ie [])
e.g. a WebSocket connection according to **[RFC 6455].**

### URL for RFC 8686 points to 8856

### Who is behind JSON-RPC
Can we have normative references to json-rpc?
Same question for openid, but there was no normative reference

### List references in alphanumeric order

### Tables and figures has to explicitly referenced

@having reviewed some of your rfc's mentioned above and the spec I agree with your comments. I will further review the PR #646.

#654 only takes care of the pure editorial parts of this issue.

This is not handled:

Mentioned as normative reference but never referenced
RFC 5245
RFC 8839
RFC 8489
RFC 8656
RFC 6749
RFC 7064
RFC 7065
OpenID Connect core
ONVIF Security service specification

Mentioned as normative reference but only informative referenced
W3C WebRTC specification
RFC 6455
RFC 8829
RFC 8866

W3C reference
Sometimes referenced as W3C standard sometimes W3C specification
Should probably be dated and not point to latest version