ONVIF Streaming Spec - RTSPS communication clarification

Section 5.2.4 Secure RTSPS in ONVIF Streaming Specification mention about RTSPS Communication. But no RFC reference given in streaming spec document  for RTSPS Communication. Does RTSPS communication in ONVIF Streaming spec refers RFC 7826(i.e https://datatracker.ietf.org/doc/rfc7826/),Section19.2.  RTSP over TLS?

What is the protocol string should be provided in GetStreamUri API to get  streaming uri for SRTP & RTSPS communication?TransportProtocol type defined in onvif.xsd(i.e https://www.onvif.org/ver10/schema/onvif.xsd) mention about only UDP=RTP/UDP, RTSP=RTP/RTSP/TCP or HTTP=RTP/RTSP/HTTP/TCP.

SecureRTSPStreaming  flag is added in ONVIF Media2 specification. How ONVIF client knows which secure streaming supported by ONVIF  device i.e SRTP or RTSPS or both using SecureRTSPStreaming Boolean flag?



In the streaming spec, below RFCs are referred.
https://datatracker.ietf.org/doc/html/rfc4567
https://datatracker.ietf.org/doc/html/rfc3711
RTSPS is different from the RTSP over TLS.  In media 2 service a separate capability  is added to notify this support "SecureRTSPStreaming"  and when requesting getstreamuri in media2 service we have to use protocol as "RtspsUnicast" or "RtspsMulticast". This is **not supported** in Media1 service therefore old transport protocol is not extended.

As per 5.1.1.4 SRTP data transfer via UDP section in 22.12 streaming spec i.e https://www.onvif.org/specs/2212/ONVIF-Streaming-Spec-v2212.pdf
"This mode allows secure transmission of RTP packets via UDP unicast and multicast. See RFC 3711 for transmission and RFC 4567 for key exchange".

Here SRTP refers RFC 3711 and RFC 4567. And the strings "RtspsUnicast" or "RtspsMulticast" seems to be for SRTP, not for RTSPS.
TransportProtocol type defined in onvif.xsd needs to updated with ""RtspsUnicast" or "RtspsMulticast" strings.

the section 5.2.4 Secure RTSPS is confusing in spec document. does it refers SRTP itself?
"Secure RTP streaming requires secure channel for key exchange. For this reason the RTSPS communication
shall use TLS encryption."



As per RFC 7201 section-3.4  RTP over TLS over TCP:
Just as RTP can be sent over TCP  it can also be sent over TLS over TCP [[RFC4572](https://www.rfc-editor.org/rfc/rfc4572)], using TLS to provide point-to-point security services. The security properties TLS provides are confidentiality,  integrity protection, and possible source authentication if the  client or server certificates are verified and provide a usable  identity.  

RTSP 1.0 [[RFC2326](https://www.rfc-editor.org/rfc/rfc2326)] and 2.0 [[RTSP](https://www.rfc-editor.org/rfc/rfc7201#ref-RTSP)] specify the usage of RTP over the  same TLS/TCP connection that the RTSP messages are sent over.  


Based on 4/18 VEWG telco, closing this issue as we agreed.