Change ONVIF RTP header extensions to RFC 8285 format

ONVIF Streaming Specification defines few RTP header extensions. They are not compatible with RTP header extension format defined in [RFC 8285 A General Mechanism for RTP Header Extensions](https://www.rfc-editor.org/rfc/rfc8285). This will not allow to use RTP header encryption as defined in [RFC 9335 Completely Encrypting RTP Header Extensions and Contributing Sources](https://www.ietf.org/rfc/rfc9335.html) in the future. We also cannot mix ONVIF extensions with existing non-ONVIF ones.

We have extension for JPEG SOI marker (section 5.1.4.1 of streaming specification, IDs 0xFFD8 and 0xFFFF) and Playback (section 6.3, 0xABAC). I propose to use following extmap SDP attributes for them. I also added `a=onvif-rtpext` so RTSP client could determine that server supports ONVIF RTP extensions in RFC 8285 format. By default server would send them using old format, so RTSP client would have to add `onvif-rtpext` to Transport header to request them in new format.

```
a=onvif-rtpext
a=extmap:1 urn:onvif:jpeg-soi-marker
a=extmap:2 urn:onvif:jpeg-soi-marker-cont
a=extmap:3 urn:onvif:playback
```

I have been working through the RFC 8285 already reviewed the extensions in RFC 3550 and their limitations. I still ned to review RFC9335 and then the specified Streaming Specification before commenting on your issue. As you can appreciate these RFC's are detailed reading.

I did not want to leave this issue uncommented and thus the indication that it was not under review.